*{
    margin: 0px;
    padding: 0px;
    background-color:skyblue;
}
.header{
    border: 2px solid black;
    height: 20vh;
    width: 100vw;
}
.logo{
    height: 20vh;
    width: 19vw;
    
}
.h1{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    float: right;
    
}
.left{
    height: 60vh;
    width: 30vw;
    border: 2px solid black;
    display: inline-block;
    background-color: bisque;
    float: left;
      
}
.img2{
    height:14vh ;
    width:13vw ;
}

.img1{
    height: 14vh;
    width: 13vw;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 15px;
    
}
.left2{
    height: 60vh;
    width: 1vw;
    border: 2px solid black;
    display: inline-block;
    float:  left;
    background-color: rgb(0, 255, 0);
}
.right{
    height: 60vh;
    width: 64vw;
    border: 2px solid black;
    margin: 0px;
    float: right;
    /* display: inline-block; */
    padding-left: 18px;
    background-color: cyan;
}
.right1{
    height: 33vh;
    width: 60vw;
    border: 2px solid black;
    margin-top: 9px;
}
.right2{
    height: 15vh;
    width: 20vw;
    border: 2px solid black;
    display: inline-block;
    margin-top: 30px;
    margin-right: 70px;
    padding: 10px;
    margin-left: 20px;
}
.nature1{
    height: 33vh;
    width: 60vw;
}
.nature2{
    height: 15vh;
    width: 20vw;
}